.ad {
  display: flex;
  flex-direction: column;
  padding: 17px 26px 38px;
  text-align: center;
  width: 320px;
  box-sizing: border-box;
}

.ad__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.ad__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: hsl(0, 0%, 20%);
  text-transform: uppercase;
}
