.advantages {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.advantages__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 320px;
  background-color: #ffffff;
  padding: 32px 18px 53px;
  box-sizing: border-box;
}

.advantages__headline {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.advantages__wrapper {
  display: flex;
  width: 320px;
}

.advantages__list {
  display: grid;
  gap: 0;
  width: 320px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.advantages__wrap {
  width: 320px;
  text-align: center;
  background-color: #ededed;
  padding: 33px 18px 40px;
  border-top: 1px solid #d6d6d6;
  box-sizing: border-box;
}

.advantages__wrap--darker {
  color: #ffffff;
  background-color: #80b2d1;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 11px;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 17px;
}

.advantages__info {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantages__advantages-sublist {
  display: grid;
  gap: 0;
  width: 320px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__sublist-item {
  width: 320px;
  text-align: center;
  background-color: #ffffff;
  padding: 33px 18px 40px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 768px;
    height: 1257px;
  }

  .advantages__header {
    width: 768px;
    padding: 47px 124px 55px 124px;
  }

  .advantages__list {
    display: flex;
    justify-content: start;
    width: 768px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .advantages__item {
    width: 256px;
    height: 256px;
  }

  .advantages__item--bigger {
    display: flex;
    flex-direction: row;
    width: 768px;
    height: 512px;
    flex-wrap: wrap;
  }

  .advantages__item--big {
    display: flex;
    flex-direction: row;
    width: 768px;
    flex-wrap: wrap;
  }

  .advantages__image--reverse {
    order: -1;
  }

  .advantages__wrap {
    width: 256px;
    height: 256px;
  }

  .advantages__advantages-sublist {
    display: flex;
    width: 768px;
  }

  .advantages__sublist-item {
    width: 256px;
    height: 331px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1200px;
    height: 1257px;
  }

  .advantages__header {
    width: 1200px;
    padding: 47px 124px 55px 124px;
  }

  .advantages__list {
    display: flex;
    justify-content: start;
    width: 1200px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .advantages__item {
    width: 400px;
    height: 256px;
  }

  .advantages__item--bigger {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 512px;
    flex-wrap: wrap;
  }

  .advantages__item--big {
    display: flex;
    flex-direction: row;
    width: 1200px;
    flex-wrap: wrap;
  }

  .advantages__wrap {
    width: 400px;
    height: 256px;
  }

  .advantages__advantages-sublist {
    display: flex;
    width: 1200px;
  }

  .advantages__sublist-item {
    width: 400px;
    height: 331px;
  }
}
