.attraction {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0;
  padding: 24px 20px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
}

.attraction__title {
  padding: 24px 22px 0 22px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.attraction__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.attraction__item {
  margin-bottom: 36px;
}

.attraction__control {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-left: 62px;
  text-align: left;
}

.attraction__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
}

.attraction__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.attraction__label:hover .attraction__mark {
  border-color: #e5e5e5;
}

.attraction__field:disabled + .attraction__mark {
  border-color: #d5d5d5;
}

.attraction__field[type="checkbox"]:checked + .attraction__mark::before,
.attraction__field[type="checkbox"]:checked + .attraction__mark::after {
  position: absolute;
  top: 20px;
  left: 12px;
  width: 22px;
  height: 2px;
  background-color: #333333;
  content: "";
}

.attraction__field[type="checkbox"]:checked + .attraction__mark::before {
  transform: rotate(45deg);
}

.attraction__field[type="checkbox"]:checked + .attraction__mark::after {
  transform: rotate(-45deg);
}
