.attraction {
  display: flex;
  flex-direction: column;
  padding: 24px 20px 34px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.attraction__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.attraction-container {
  display: flex;
  font-display: row;
  align-items: center;
  padding-bottom: 16px;
}

.attraction__field {
  width: 46px;
  height: 46px;
}

.attraction__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding-left: 16px;
}
