.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.copyright__logo {
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
}

.copyright__logo:hover {
  color: #81b3d2;
}

.copyright__logo:active {
  color: #b3b3b3;
}

.copyright__logo-image {
  vertical-align: middle;
}
