.impress {
  display: flex;
  flex-direction: column;
  padding: 24px 20px 34px;
  border-bottom: 1px solid #e6e6e6;
}

.impress__title,
.impress__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.impress__review {
  padding: 16px;
}

.impress-container {
  padding: 52px 20px 24px;
}
