.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;

}

.main-header__logo {
  padding-left: 67px;
  padding-right: 25px;
  padding-top: 0;
  position: absolute;
}

