.page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #e7e5e5;
  box-sizing: border-box;
}

.page-body__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans";
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

@media (min-width: @tablet-width) {
  .page-body__wrapper {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-body__wrapper {
    width: 1200px;
  }
}
