.photocatalog {
  width: 320px;
}

.photocatalog__list {
  display: grid;
  gap: 0;
  width: 320px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.photocatalog__card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
  padding: 24px 20px 25px;
}

.photocatalog__card:first-child {
  border-top: 1px solid #e6e6e6;
}

.photocatalog__info-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.photocatalog__text-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.photocatalog__title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 0;
  text-transform: uppercase;
}

.photocatalog__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.photocatalog__like-button {
  width: 70px;
  border: none;
  background-color: #ffffff;
}

.photocatalog__like-counter {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

@media (min-width: @tablet-width) {
  .photocatalog {
    width: 768px;
    padding: 0 60px;
  }

  .photocatalog__list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 768px;
  }

  .photocatalog__card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: none;
    padding: 0;
    width: 324px;
  }

  .photocatalog__card--first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 648px;
  }

  .photocatalog__card:first-child {
    border: none;
  }

  .photocatalog__info-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 648px;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
    box-sizing: border-box;
  }

  .photocatalog__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .photocatalog__info-wrap--smaller {
    width: 324px;
  }

  .photocatalog__info-wrap--darker {
    background-color: #eaeaea;
  }

  .photocatalog__like-button {
    background-color: #f2f2f2;
  }

  .photocatalog__like-button--darker {
    background-color: #eaeaea;
  }
}

@media (min-width: @desktop-width) {
  .photocatalog {
    width: 1200px;
    padding: 0;
  }

  .photocatalog__list {
    width: 1200px;
  }

  .photocatalog__card {
    width: 400px;
    position: relative;
  }

  .photocatalog__card--first {
    width: 1200px;
  }

  .photocatalog__info-wrap {
    width: 1200px;
    padding: 22px 20px 15px;
    position: absolute;
    bottom: 0;
  }

  .photocatalog__info-wrap--smaller {
    width: 400px;
  }
}
