.search {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 320px;
  box-sizing: border-box;
  padding-left: 18px;
  padding-bottom: 49px;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin-top: 65px;
  text-transform: uppercase;
}

.search__texte {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  padding-bottom: 32px;
}

.search__to-all {
  display: inline-block;
  width: 284px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: hsl(203, 47%, 66%);
  padding: 16px 20px;
  text-decoration: none;
  cursor: pointer;
}

.search__to-all:hover {
  background-color: hsl(203, 42%, 58%);
}

.search__to-all:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: hsl(202, 44%, 54%);
}

.search__to-all:disabled {
  background-color: hsl(0, 0%, 90%);
}
