.userdata {
  display: grid;
  gap: 0;
  width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.userdata__form-button {
  display: inline-block;
  width: 280px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgb(128, 178, 209);
  padding: 16px 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.userdata__form-button:hover {
  background-color: rgb(103, 158, 193);
}

.userdata__form-button:active {
  color: #ffffff4d;
  background-color: rgb(86, 151, 189);
}

.userdata__form-button:disabled {
  background-color: rgb(230, 230, 230);
}

.userdata__form-text {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  padding-top: 3px;
  padding-left: 120px;
  text-transform: uppercase;
}
