.userdata {
  display: grid;
  gap: 0;
  width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.username {
  display: flex;
  flex-direction: column;
  padding: 24px 20px 39px;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  border-top: 1px solid hsl(0, 0%, 90%);
}

.username__title,
.contacts__title,
.impressions__title,
.attraction__title,
.impress__title,
.impress__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.username__label,
.contacts__label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  padding-top: 20px;
}

.username__field {
  width: 280px;
  padding: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: hsl(0, 0%, 95%);
  box-sizing: border-box;
}

.contacts,
.impressions,
.attraction,
.impress {
  display: flex;
  flex-direction: column;
  padding: 24px 20px 34px;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.contacts__conteiner {
  display: flex;
  font-display: row;
}

.contacts__field {
  width: 222px;
  padding: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: hsl(0, 0%, 95%);
  box-sizing: border-box;
}

.contacts-button {
  width: 60px;
  background: hsl(0, 0%, 90%);
  padding: 20px;
}

.impressions-conteiner,
.attraction-conteiner {
  display: flex;
  font-display: row;
  align-items: center;
  padding-bottom: 16px;
}

.impressions__field,
.attraction__field {
  width: 46px;
  height: 46px;
}

.impressions__label,
.attraction__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding-left: 16px;
}

.impress__review {
  padding: 16px;
}

.impress-conteiner {
  padding: 52px 20px 24px;
}

.userdata__form-button {
  display: inline-block;
  width: 280px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: hsl(203, 47%, 66%);
  padding: 16px 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.userdata__form-button:hover {
  background-color: hsl(203, 42%, 58%);
}

.userdata__form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: hsl(202, 44%, 54%);
}

.userdata__form-button:disabled {
  background-color: hsl(0, 0%, 90%);
}

.userdata__form-text {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  padding-top: 3px;
  padding-left: 120px;
  text-transform: uppercase;
}
