.videocatalog {
  width: 320px;
  box-sizing: border-box;
  position: relative;
}

.videocatalog__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
}

@media (min-width: @tablet-width) {
  .videocatalog {
    width: 768px;
    margin: 0 0 40px;
    position: relative;
  }

  .videocatalog__image {
    min-width: 648px;
    height: 500px;
    object-fit: cover;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .videocatalog {
    width: 1200px;
    margin: 0 0 120px;
  }

  .videocatalog__image {
    min-width: 800px;
    height: 500px;
    object-fit: cover;
    border: none;
  }
}

